기본 요구사항
프로젝트 경로에서, npm/yarn 스크립트로 실행 가능
바닐라 javascript나 vue/react/anguler 로만 작성.
다른 라이브러리 사용금지. ex) underscorejs, jquery 등
요구사항 상세

---------------------------------기능적 구현 요구사항-------------
0 고객이 사용할 수 있을 수준의 정갈한 화면 *OK
1 "할 일"을 저장 가능 *OK
2 "할 일"은 여러 줄의 문장 가능 *OK
3 "할 일"은 기록한 "시점", "완료 여부" 상태 정보 포함 *OK
4 "완료된 일"은 화면 아랫 쪽으로 정렬하여 표현 *OK
5 "완료된 일"과 "할 일" 화면 상 표현 차이로 구분 가능 *OK
6 "완료된 일"/"할 일"을 선택 필터 기능 *OK
7 사용자는 언제든, "완료된 일"/"할 일"을 변경 가능 *OK
8 "완료된 일"은 완전 삭제 가능 *OK
 

---------------------------------기술적 구현 요구사항-------------
1 "할 일"은 기록한 브라우저에서 다시 열람 시 내용 유지 *OK
2 웹 브라우저 상의 HTML, CSS, Javascript를 사용 *OK
3 Pre-processor 역할에 한 해 다양한 runtime 활용 가능 *OK
4 사용자의 행동을 완전하게 막는 경고 시에는 다른 동작을 할 수 없도록 화면 막음 *OK


---------------------------------선택적 추가 구현 사항-------------
1 저장 공간에는 입력 했던 문자열 모습이 아닌 형태로 저장 *OK
2 사용자의 잘못된 행동에 대해 직접 제작한 Modal/Toast 형태로 Message 표현 *OK
3 CSS 직접 작성 *OK