<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do Application, By Park Sung Hwa</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <div id="AppContainer" class="AppContainer">
        <div id="backBlur"></div>

        <div id="style-mode-toggle">
            <div class="mode-select">Light</div>
            <div>Dark</div>
        </div>

        <div id="app-component" class="app-component">
            <div class="app-top">
                <div class="app-top-left">Sihus To-Do Application</div>
                <div class="app-top-right">
                    <div id="addTodo">+ Add ToDo</div>
                </div>
            </div>
            <div class="app-cate">
                <div> All</div>
                <div> Incomplete</div>
                <div> Complete</div>
            </div>
            <div id="app-middle" class="app-middle">

            </div>
            <div class="app-bottom">
                Application Bottom
            </div>
        </div>

        <div id="add-todo-component">
            <div class="add-todo-title">
                할일을 추가해보세요
            </div>
            <form id="addTodoFrm">
                <input type="date" name="date" id="form-date"/>
                <input type="time" name="time" id="form-time"/>
                <textarea name="todo" id="form-todo" placeholder="할일을 입력해주세요"/></textarea>
                <button type="button" id="submitBtn">Add Todo</button>
            </form>
        </div>

    </div>

    <script src="/js/Todo.js"></script>
</body>
</html>