<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do Application, By Park Sung Hwa</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <div id="AppContainer" class="AppContainer">
        <div id="backBlur"></div>

        <div id="style-mode-toggle">
            <div>Light</div>
            <div>Dark</div>
        </div>

        <div class="app-component">
            <div class="app-top">
                <div class="app-top-left">Sihus To-Do Application</div>
                <div class="app-top-right">
                    <div id="addTodo">+ Add ToDo</div>
                </div>
            </div>
            <div class="app-middle">
                <div class="todo-item">
                    <div class="todo-item-date">2020년 11월 03일 17시59분33초</div>
                    <div class="todo-item-title">First Item Test</div>
                    <div class="todo-item-desc">
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                    </div>
                    <div class="todo-item-btns">
                        <button>삭제</button>
                        <button>완료</button>
                    </div>
                </div>

                <div class="todo-item">
                    <div class="todo-item-date">2020년 11월 03일 17시59분33초</div>
                    <div class="todo-item-title">First Item Test</div>
                    <div class="todo-item-desc">
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                    </div>
                    <div class="todo-item-btns">
                        <button>삭제</button>
                        <button>완료</button>
                    </div>
                </div>

                <div class="todo-item">
                    <div class="todo-item-date">2020년 11월 03일 17시59분33초</div>
                    <div class="todo-item-title">First Item Test</div>
                    <div class="todo-item-desc">
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                    </div>
                    <div class="todo-item-btns">
                        <button>삭제</button>
                        <button>완료</button>
                    </div>
                </div>

                <div class="todo-item">
                    <div class="todo-item-date">2020년 11월 03일 17시59분33초</div>
                    <div class="todo-item-title">First Item Test</div>
                    <div class="todo-item-desc">
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                    </div>
                    <div class="todo-item-btns">
                        <button>삭제</button>
                        <button>완료</button>
                    </div>
                </div>

                <div class="todo-item">
                    <div class="todo-item-date">2020년 11월 03일 17시59분33초</div>
                    <div class="todo-item-title">First Item Test</div>
                    <div class="todo-item-desc">
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                        First Item Content First Item Content 
                    </div>
                    <div class="todo-item-btns">
                        <button>삭제</button>
                        <button>완료</button>
                    </div>
                </div>
                

            </div>
            <div class="app-bottom">
                Application Bottom
            </div>
        </div>

        <div id="add-todo-component">
            <div class="todo-item-date">2020년 11월 03일 17시59분33초</div>
            <div class="todo-item-title">First Item Test</div>
            <div class="todo-item-desc">First Item Content</div>
        </div>

    </div>

    <script src="/js/Todo.js"></script>
</body>
</html>