/**
* Google Web Fonts
* Import Noto Sans KR
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html, body {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}

::selection {
    color: #fff !important;
    background-color: rgb(154, 78, 253) !important;
}

/**
* Style Mode
*/
#style-mode-toggle {
    position: absolute;
    top: 20px;
    right: 100px;
    display: flex;
}

#style-mode-toggle > div {
    cursor: pointer;
    width: 100px;
    height: 35px;
    line-height: 35px;
    font-size: 13px;
    background-color: #fff;
    text-align: center;
    color: #444;
    transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
}

#style-mode-toggle > div:nth-child(1) {
    border-right: 1px solid #eee;
}

.mode-select {
    color: #fff !important;
    background-color: rgb(154, 78, 253) !important;
}


/**
* Application Container
*/
.AppContainer {
    position: fixed;
    background-color: #f0eef5;
    width: 100%;
    height: 100%;
    
}

.AppContainer-dark-mode {
    position: fixed;
    background-color: #2c3041;
    width: 100%;
    height: 100%;
    
}


/**
* Basic App Component Styling
*/
.app-component {
    position: absolute;
    width: 1000px;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    background-color: #fff;
    -webkit-box-shadow: 0 2px 8px rgba(172, 172, 172, 0.274);
    box-shadow: 0 2px 8px rgba(172, 172, 172, 0.274);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.app-component-dark {
    position: absolute;
    width: 1000px;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: #eee;
    background-color: #212433;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.274);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.274);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.app-component > div {
    width: 100%;
}

.app-top {
    display: flex;
}

.app-top > div {
    height: 80px;
}

.app-top .app-top-left {
    padding-left: 30px;
    width: 80%;
    line-height: 80px;
    color: #9a4efd;
    font-size: 25px;
    font-weight: 500;
    text-align: left;
    
}

.app-top .app-top-right {
    width: 20%;
    display: flex;
    align-items: center;
}

.app-top .app-top-right > div {
    cursor: pointer;
    width: 80%;
    height: 35px;
    line-height: 35px;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    background-color: #9a4efd;
    border: 1px solid #8940e9;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}

.app-top .app-top-right > div:hover {
    background-color: #7a31da;
    border: 1px solid #6120b4;
}

.app-cate {
    display: flex;
    padding-left: 25px;
    height: 35px;
}

.selected {
    color: #fff;
    background-color: #8a47e0;
}

.app-cate > div {
    cursor: pointer;
    margin-right: 10px;
    padding: 0 10px 0 10px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}

.app-middle {
    width: 100%;
    height: 600px;
    text-align: left;
    padding-left: 15px;
    overflow: auto;
}

.app-bottom {
    height: 60px;
    line-height: 60px;
    font-size: 12px;
    text-align: center;
}

/**
* Todo Item Styling
*/
.todo-item {
    display: inline-block;
    width: 30%;
    margin: 15px;
    border: 1px solid #eee;
    padding: 5px;
}

.todo-item-blank {
    width: 100%;
    padding-top: 150px;
    font-size: 14px;
    text-align: center;
}

.todo-item-blank i {
    font-size: 80px;
    margin-bottom: 10px;
    color: #eee;
}

.todo-item-dark {
    display: inline-block;
    width: 30%;
    margin: 15px;
    border: 1px solid #2d3041;
    padding: 5px;
}

.status-complete {
    padding: 3px 6px 3px 6px;
    margin-right: 10px;
    border-radius: 5px;
    color: #333;
    background-color: #d5bff1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.status-incomplete {
    padding: 3px 6px 3px 6px;
    margin-right: 10px;
    border-radius: 5px;
    color: #333;
    background-color: #f7f1ff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.todo-item-date {
    width: 100%;
    text-align: left;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
    margin-bottom: 10px;
}

.todo-item-middle {
    display: flex;
    width: 100%;
    text-align: left;
    font-size: 13px;
    padding-left: 15px;
    line-height: 30px;
}

.todo-item-content {
    width: 80%;
}

.todo-item-btns {
    width: 20%;
    vertical-align: middle;
    text-align: right;
}

.todo-item-btns button {
    cursor: pointer;
    width: 50px;
    height: 30px;
    font-size: 12px;
    outline: none;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    margin-bottom: 10px;
}

.todo-item-btns button.btn-complete {
    color: #eee;
    background-color: #7a31da;
}

.todo-item-btns button.btn-remove {
    color: #eee;
    background-color: #da3131;
}

.complete-todo-line {
    width: 98%;
    height: 35px;
    line-height: 35px;
    text-align: left;
    padding-left: 15px;
    font-weight: 500;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.complete {
    text-decoration: line-through;
}

/**
* Add Todo Component
*/
#backBlur {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 0;
    background-color: rgba(43, 47, 64, 0.671);
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}

#add-todo-component {
    position: absolute;
    top: 50%;
    left: -50%;
    z-index: 200;
    opacity: 0;
    width: 500px;
    background-color: #fff;
    border-radius: 15px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    padding: 15px;
    padding-bottom: 25px;
}

.add-todo-title {
    width: 100%;
    text-align: center;
    padding-top: 15px;
    font-size: 24px;
    font-weight: 100;
    color: #7a31da;
}

#addTodoFrm {
    text-align: center;
}

#addTodoFrm > * {
    margin-top: 8px;
    display: inline-block;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    outline: none;
    border: 1px solid #eee;
    padding-left: 15px;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}

#addTodoFrm > *:focus {
    border: 1px solid #7a31da;
}

#addTodoFrm input {
    width: 80%;
    height: 40px;
    line-height: 40px;
}

#addTodoFrm textarea {
    width: 80%;
    height: 200px;
    line-height: 30px;
}

#addTodoFrm button {
    width: 80%;
    height: 45px;
    padding-left: none;
    color: #fff;
    background-color: #7a31da;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}

#addTodoFrm button:hover {
    background-color: #6822c4;
}

/**
* Alert Styling
*/
.alert {
    z-index: 1000;
    position: absolute;
    width: 90%;
    height: 60px;
    bottom: 0;
    color: #fff;
    background-color: rgba(126, 43, 235, 0.933);
    transition: all 0.7s ease-out;
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -ms-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
}

.alert-notice {
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 60px;
    bottom: -60px;
    color: #fff;
    font-size: 15px;
    text-align: center;
    background-color:  rgba(126, 43, 235, 0.849);
    transition: all 0.7s ease-out;
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -ms-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
}